{% extends 'portfolioapp/base.html' %}

{% load static %}



{% block content %}

   <div class="coding-wrapper">
     <p><b>Research related</b></p><hr>
     <ul>
      <li><a href="https://github.com/skc46/Alloys_preparation/blob/master/bulk_sample_wt_cal.ipynb", target="_blank">Calculate the weights of elements to make bulk ingots of Heusler alloys</a></li>
     </ul>

     <p><b>Machine Learning/ Deep Learning</b></p><hr>
     <ul>
      <li><a href="https://github.com/skc46/Machine_learning_notebooks/blob/master/Neuclear_magnetic_resonance%20with%20Spin%20echo.ipynb",
      target="_blank">Using Deep Neural Network to predict coupling strength, length of the neuclear interaction and dissipation time of nuclear spins from Neuclear
      magnetic resonance (NMR) Spin Echo Animation curves.</a><br></li>


      <li><a href="https://github.com/skc46/Machine_learning_notebooks/blob/master/CNN_CERNparticle_identification.ipynb", target="_blank">
      Use of Convolutional Neural Network (CNN) to identify the paticles in Large Hadron Collider (LHC) collisions</a></li>
     </ul>

     <p><b>Webpage</b></p><hr>
     <ul>
      <li> <a href="https://github.com/skc46/portfolio", target="_blank">Codes related to the development of this website</a></li>
     </ul>
   </div>

   <div><h1>More codes coming soon</h1></div>


{% endblock %}