{% extends 'portfolioapp\base.html' %}

{% load static %}

{% block content %}


  <div class="image-wrapper">
    <div class="avs-award">
        <img src="{% static 'avs-presentation.jpg' %}" alt="">
        <img src="{% static 'Falicov-Award.jpg' %}" alt="">
      </div>

      <div class="APS-2019">
        <img src="{% static 'APS1.JPG' %}" alt="">
        <img src="{% static 'APS2.JPG' %}" alt="">
        <img src="{% static 'APS3.JPG' %}" alt="">
      </div> 

      <div class="mint-poster">
        <img src="{% static 'mint_poster.jpg' %}" alt="">
      </div>
  </div>

  
{% endblock %}