{% extends 'portfolioapp\base.html' %}

{% load static %}

{% block content %}


  <!-- <div class="image-wrapper">
      <div class="avs">
         <figure class="avs-award"><a href="#">
            <img  src="{% static 'portfolio/avs-presentation.JPG' %}" />
          
         </a> 
          <figcaption>Presenting my work on Co<sub>1.5</sub>Ti<sub>0.5</sub>FeGe thin-films at AVS 66th International 
            Symposium & Exhibition 2019, Columbus, OH USA </figcaption>
          </figure>

          <figure class="avs-award"><a href="#">
            <img src="{% static 'portfolio/Falicov-Award.jpg' %}" width="300" height=auto />
            </a>
            <figcaption>Leo Falicov-Award Ceremony at AVS 66th International 
                Symposium & Exhibition 2019, Columbus, OH USA<a href ="https://avs.org/awards/division-group-student-awards/magnetic-interfaces-nanostructures-division-the-le/">[source]</a> </figcaption>
          </figure>

        </div>
        
        
            

      <figure class="APS-2019">
        <img src="{% static 'portfolio/APS1.JPG' %}" alt="">
        <img src="{% static 'portfolio/APS2.JPG' %}" alt="">
        <img src="{% static 'portfolio/APS3.JPG' %}" alt="">
        <figcaption>Presenting poster at APS March Meeting, 2019, Boston, MA USA</figcaption>
      </figure> 

      <figure class="mint-poster"><a href="#"><img src="{% static 'portfolio/mint_poster.jpg' %}" alt=""></a>
        <figcaption>Presenting two posters at MINT Review, 2018, Tuscaloosa, AL USA</figcaption>
      </figure>
  </div> -->


{% endblock %} 

