{% extends "portfolioapp/base.html" %}

{% load static %}
           
{% block content %}           
           
           
   <div class="presen-container">
      <h1>Presentations</h1>
      <hr>
      <div class="presentation-wrapper">
         <p>
            <b>(Poster-Presenter)</b> Co<sub>2</sub>Fe<sub>1.25</sub>Ge<sub>0.75</sub>: the perfect material for spintronics?<br>
             International Winter School - 2020 on Frontiers in Materials Science - A virtual Event 2020, India 
          </p>

      </div>

      <div class="presentation-wrapper">
         <p>
            <b>(Oral-Presenter)</b> Interplay Between Mn, Fe, and Co in the Co<sub>2</sub>FeGe Alloy to Design Novel Single-Phase Compounds with Potential Spintronic Application<br>
            MMM2020 Virtual Conference 2020, USA
         </p>
      </div>

      <div class="presentation-wrapper">
         <p>
            <b>(Oral-Presenter)</b> Stabilizing Single-Phase Microstructures and Tuning Half-Metallic Character in Heusler Alloys by Following a Novel 
            Route of Substitution<br>
            University of Alabama at Birmingham 2020, Birmingham, AL USA
         </p>
      </div>

      <div class="presentation-wrapper">
         <p>
            <b>(Oral-Presenter)</b> Substrate Dependent Structural and Magnetic Properties of Epitaxial Co<sub>1.5</sub>Ti<sub>0.5</sub>FeGe 
            Heusler Alloy Thin-films<br>
            AVS 66th International Symposium & Exhibition 2019, Columbus, OH USA
         </p>
      </div>

      <div class="presentation-wrapper">
         <p>
            <b>(Poster-Presenter)</b> Structural, Magnetic, Electronic, and Mechanical Properties of the Co<sub>2-x</sub>Ti<sub>x</sub>FeGe Alloy Series<br>
            APS March Meeting 2019, Boston, OH USA
         </p>
      </div>

      <div class="presentation-wrapper">
         <p>
            <b>(Poster-Presenter)</b> Structural, Magnetic and Electronic Properties of the Co<sub>2-x</sub>Ti<sub>x</sub>FeGe Alloy Series with Possible Half-Metallic Behavior<br>
            MINT Reivew, University of Alabama 2018, Tuscaloosa, AL USA
         </p>
      </div>

      <div class="presentation-wrapper">
         <p>
            <b>(Poster-Presenter)</b> Epitaxial Growth and Characterization of VO<sub>2</sub> Thin Films on TiO<sub>2</sub> Substrates<br>
            MINT Reivew, University of Alabama 2018, Tuscaloosa, AL USA
         </p>

      </div>

      <div class="presentation-wrapper">
         <p>
            <b>(Poster-Presenter)</b> Fe<sub>x</sub>Co<sub>y</sub>TiGe: A Novel Quaternary Heusler<br>
            MINT Reivew, University of Alabama 2017, Tuscaloosa, AL USA
         </p>
      </div>

{% endblock %}            
