{% extends 'portfolioapp/base.html' %}

{% load static %}

{% block content %}

<div class="pub-container">
  <h1>Publications</h1>
    <hr>
  <ol>
     <li>
      S. KC, R. Mahat, S. Budhathoki, S. Regmi, J. Y. Law, V. Franco, W. H. Butler, A. Gupta, P. LeClair<br>
      <a href = "#" >Interplay of Mn, Fe, and Co in Co<sub>2</sub>FeGe Heusler Alloy to Design Novel Single-Phase Compounds with Potential Spintronic Applications</a><br>
      In preparation (2021)
     </li>

     <li>
      S. KC, R. Mahat, S. Regmi, J. Y. Law, V. Franco, G. Mankey, W. H. Butler, A. Gupta, P. LeClair<br>
      <a href = "#" >Co<sub>2</sub>Fe<sub>1.25</sub>Ge<sub>0.75</sub>: A Single-phase Full Heusler Alloy with Highest Magnetic Moment and Highest Curie Temperature</a><br>
      In preparation (2021)
     </li>

     <li>
      S. KC, S. Budhathoki, R. Mahat, A. Sapkota, A. Rai, T. Evans, S. Regmi, T. Mewes, A. Hauser, G. Mankey, A. Gupta, P. LeClair<br>
      <a href = "#" >Substrate dependent properties of Co<sub>1.5</sub>Ti<sub>0.5</sub>FeGe thin films</a><br>
      In preparation (2021)
     </li>

     

     <li>
      N. Naghibolashrafi, S. KC, V. I. Hegde, J. Ma, A. Gupta, P. LeClair, W. H. Butler, C. Wolverton, A. W. Ghosh<br>
      <a href = "#" >Synthesis and Characterization of Co-Ti-Sn Alloys: Co<sub>1.5</sub>TiSn as Half Metal Based on the Fe<sub>1.5</sub>TiSb Prototype of Layered Heusler</a><br>
       Submitted (2020)
     </li>

     <li>
      S. Regmi, Z. Li, A. Srivastava, R. Mahat, S. KC, A. Rastogi, Z. Galazka, R. Datta, T. Mewes, and A. Gupta<br>
      <a href = "https://aip.scitation.org/doi/full/10.1063/5.0047865" target="_blank">Structural and magnetic properties of NiFe<sub>2</sub>O<sub>4</sub> thin films grown on isostructural lattice-matched substrates</a><br>
      Applied Physics Letters <strong>118</strong>, 152402 (2021)
     </li>

     <li>
      R. Mahat, S. KC, D. Wines, S. Regmi, U. Karki, Z. Li, F. Ersan, J. Law, C. Ataca, V. Franco, A. Gupta, P. LeClair<br>
      <a href="https://www.sciencedirect.com/science/article/pii/S0304885320323659" target="_blank">Influence of Cr-substitution on the structural, magnetic, electron transport, and mechanical properties of Fe3−xCrxGe Heusler alloys</a><br>
      Journal of Magnetism and Magnetic Materials <strong>521</strong>, 167398 (2021)
     </li>

     <li>
     R. Mahat, S. KC, D. Wines, F. Ersan, S. Regmi, U. Karki, R. White, C. Ataca, P. Padhan, A. Gupta, P. LeClair<br>
     <a href="https://www.sciencedirect.com/science/article/pii/S0925838820307660" target="_blank">Tuneable structure and magnetic properties in Fe<sub>3-x</sub>V<sub>x</sub>Ge alloys</a><br>
     Journal of Alloys and Compounds <strong>830</strong>, 154403 (2020)
     </li>

     <li>
     N. Naghibolashrafi, V. I. Hegde, S. KC, S. Keshavarz, S. Naghavi, J. Ma, A. Gupta, P. LeClair, W. H. Butler, C. Wolverton, K. Munira, D. Mazumdar, A. W. Ghosh<br>
     <a href="https://www.sciencedirect.com/science/article/pii/S0925838819346547" target="_blank">Structural and magnetic analyses of the FexCo1−xTiSb alloy system: Fe0.5Co0.5TiSb as a prototypical half-Heusler compound</a><br>
     Journal of Alloys and Compounds <strong>822</strong>, 153408 (2020)
     </li>

     <li>
      S. Budhathoki, A. Sapkota, K. M. Law, B. Nepal, S. Ranjit, S. KC, T. Mewes, A. J. Hauser<br>
      <a href="https://www.sciencedirect.com/science/article/pii/S0304885319326551" target="_blank">Low Gilbert damping and linewidth in magnetostrictive FeGa thin films</a><br>
      Journal of Magnetism and Magnetic Materials <strong>496</strong>, 165906 (2020)
     </li>

     <li>
      S. KC, R. Mahat, S. Regmi, A. Mukherjee, P. Padhan, R. Datta, W. H. Butler, A. Gupta, P. LeClair<br>
      <a href="https://journals.aps.org/prmaterials/abstract/10.1103/PhysRevMaterials.3.114406" target="_blank">Tunable properties and potential half-metallicity in (Co<sub>2-x</sub>Ti<sub>x</sub>)FeGe Heusler alloys: An experimental and theoretical investigation</a><br>
      Physical Review Materials <strong>3</strong>, 114406 (2019)
     </li>
  </ol>

</div>

{% endblock %}
          
          
          
          